{% extends '::base.html.twig' %}

{% block content %}

<h3>{{ user }}</h3>

{{ form_widget(test_form) }}

<div ng-controller="ContractorEditCtrl">

    <div ng-init='profile={{ userJson|raw }}'></div>
    <div ng-init='originalProfile={{ userJson|raw }}'></div>

    <form action="{{ path('contractor_edit') }}" method="POST" {{ form_enctype(avatarForm) }} />        
        {% if user.avatar %}
            <img src="{{ user.avatar.path('medium') }}" />
        {% endif %}

        {{ form_errors(avatarForm) }}
        {{ form_widget(avatarForm.uploadedAvatar) }}
        {{ form_errors(avatarForm.uploadedAvatar) }}
        {{ form_rest(avatarForm) }}
        <input type="submit" value="Upload new avatar" name="uploadingAvatar" />
    </form>

    {% raw %}
    <div class="well">
        <input ng-model="profile.full_name" placeholder="Specify your name" />
        <small>{{ profile.full_name }}</small>
        <button class="btn" ng-click="saveFullname(profile)" ng-show="profile.full_name != originalProfile.full_name">Confirm</button>

    </div>

    <div class="well">
        <input ng-model="profile.tag_line" placeholder="Specify tag line" />
        <small>{{ profile.tagLine }}</small>
        <button class="btn" ng-click="saveTagLine(profile)" ng-show="profile.tag_line != originalProfile.tag_line">Confirm</button>
    </div>

    <div class="well">
        <h5>Set prices for tasks</h5>
        <form id="task-form" ng-submit="addTask()">
            <input placeholder="Enter a task" ng-model="newTask.name" />
            <input placeholder="Enter amount" ng-model="newTask.amount" />
            <input type="submit" value="Add new task" />
        </form>

        <ul>
            <li ng-repeat="task in profile.tasks">
                {{ task.name }} : {{ task.amount + '$' }} <button class="btn btn-danger" ng-click="removeTask(task)">Remove</button>
            </li>
        </ul>
    </div>

     <div class="well">
        <input ng-model="profile.city" placeholder="Specify your city" />
        <button class="btn" ng-click="saveCity(profile)" ng-show="profile.city != originalProfile.city">Confirm</button>
    </div>


    {% endraw %}



</div>
{% endblock %}
