{% extends '::base.html.twig' %}

{% block content %}

<h3>{{ user }}</h3>

{{ form_widget(helperForm) }}


<div ng-controller="ContractorEditCtrl">

    <div ng-init='profile={{ userJson|raw }}'></div>
    <div ng-init='originalProfile={{ userJson|raw }}'></div>

    <form action="{{ path('contractor_edit') }}" method="POST" {{ form_enctype(avatarForm) }} />        
        {% if user.avatar %}
            <img src="{{ user.avatar.path('medium') }}" />
        {% endif %}

        {{ form_errors(avatarForm) }}
        {{ form_widget(avatarForm.uploadedAvatar) }}
        {{ form_errors(avatarForm.uploadedAvatar) }}
        {{ form_rest(avatarForm) }}
        <input type="submit" value="Upload new avatar" name="uploadingAvatar" />
    </form>

    {% raw %}
    <div class="well">
        <input ng-model="profile.fullName" placeholder="Specify your name" />
        <small>{{ profile.fullName }}</small>
        <button class="btn" ng-click="saveFullname(profile)" ng-show="profile.fullName != originalProfile.fullName">Confirm</button>

    </div>

    <div class="well">
        <input ng-model="profile.tagLine" placeholder="Specify tag line" />
        <small>{{ profile.tagLine }}</small>
        <button class="btn" ng-click="saveTagLine(profile)" ng-show="profile.tagLine != originalProfile.tagLine">Confirm</button>
    </div>

    <div class="well">
        <h5>Set prices for tasks</h5>
        <form id="task-form" ng-submit="addTask()">
            <input placeholder="Enter a task" ng-model="newTask.name" />
            <input placeholder="Enter amount" ng-model="newTask.amount" />
            <input type="submit" value="Add new task" />
        </form>

        <ul>
            <li ng-repeat="task in profile.tasks">
                {{ task.name }} : {{ task.amount + '$' }} <button class="btn btn-danger" ng-click="removeTask(task)">Remove</button>
            </li>
        </ul>
    </div>

    <div class="well">
        <input ng-model="profile.city" placeholder="Specify your city" />
        <button class="btn" ng-click="saveCity(profile)" ng-show="profile.city != originalProfile.city">Confirm</button>
    </div>

    <div class="well">
        <textarea ng-model="profile.overview" placeholder="Specify your overview"></textarea>
        <button class="btn" ng-click="saveOverview(profile)" ng-show="profile.overview != originalProfile.overview">Confirm</button>
    </div>


    <div class="well">
        <h5>Licences and qualifications</h5>
        <form id="licence-form" ng-submit="addQualification()">
            <input placeholder="Enter licence or qualification" ng-model="newQualification.name" />
            <input type="submit" value="Add new qualification" />
        </form>

        <ul>
            <li ng-repeat="qualification in profile.qualifications">
                {{ qualification.name }} <button class="btn btn-danger" ng-click="removeQualification(qualification)">Remove</button>
            </li>
        </ul>
    </div>

    <div class="well">
        <h5>Education</h5>
        <form id="education-form" ng-submit="addEducation()">
            <div><input placeholder="Institution Name" ng-model="newEducation.institutionName" /></div>
            <div><input placeholder="Name and Type of Degree" ng-model="newEducation.degree" /></div>
            <div><textarea ng-model="newEducation.description" placeholder="Description (optional)"></textarea></div>
            <input type="submit" value="Add education" />
        </form>

        <ul>
            <li ng-repeat="education in profile.educations">
                {{ education.institution_name }} <small>({{ education.degree }})</small> 
                <button class="btn btn-danger" ng-click="removeEducation(education)">Remove</button>
            </li>
        </ul>
    </div>

     <div class="well">
        <h5>Employment</h5>
        <form id="employment-form" ng-submit="addEmployment()">
            <div><input placeholder="Company Name" ng-model="newEmployment.companyName" /></div>
            <div><input placeholder="Position" ng-model="newEmployment.position" /></div>
            <div><textarea ng-model="newEmployment.description" placeholder="Description (optional)"></textarea></div>
            <input type="submit" value="Add add employment" />
        </form>

        <ul>
            <li ng-repeat="companyName in profile.employmentHistory">
                {{ employment.companyName }} <small>({{ employment.position }})</small> 
                <button class="btn btn-danger" ng-click="removeEmployment(employment)">Remove</button>
            </li>
        </ul>
    </div>

    {% endraw %}



</div>
{% endblock %}
