{% extends '::main_layout.html.twig' %}

{% block content %}

    <div class="row-fluid">
    <div class="span12">
        <h1 class="underlined">Create an account</h1>
        <a href="{{ path('contractor_registration') }}" class="addon">Looking for work? Sign up as a contractor here.</a>
    </div>

    <div class="span6 last-span">
        <form  class="registration-form shared-form" class="form-wrap" action="{{ path('client_registration') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register" novalidate data-validate="parsley">
            <div class="form-item">
                {{ form_row(form.fullName) }}
            </div>
            <div class="form-item">
                {{ form_row(form.username) }}
            </div>
            <div class="form-item">
                {{ form_row(form.email) }}
            </div>
            <div class="form-item">
                {{ form_row(form.plainPassword['first']) }}
            </div>
            <div class="form-item">
                {{ form_row(form.plainPassword['second']) }}
            </div>
            <div class="form-item">
                {{ form_row(form.city) }}
            </div>
            <div class="form-item">
                {{ form_row(form.country) }}
            </div>
            <div class="form-item source">
                {{ form_row(form.hearSource) }}
            </div>

            {{ form_rest(form) }}

            <div class="form-item">
                <input type="checkbox"> Keep me logged in on this computer / device
                <div class="button-wrapper">
                    <button type="submit" id="client-register-submit" class="special-button-gray-with-arrow">Create my Account</button>
                </div>
            </div>
        </form>
    </div>

    <div class="span4 pull-right">
        <div class="alternative">
            <div class="alternative-wrapper clearfix">
                <h4>Already have an account?</h4>
                <a href="{{ path('fos_user_security_login') }}" class="special-button-blue-with-arrow">Sign in here</a>
            </div>

            <div class="alternative-wrapper clearfix">
                <h4>Are you a contractor</h4>
                <a href="{{ path('contractor_registration') }}" class="special-button-blue-with-arrow">Create an account</a>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
