{% extends '::base.html.twig' %}

{% block content %}

<h3>Search for tasks</h3>

<form id="search_form" method="get" action="{{ path('app_tasks_index') }}" novalidate="novalidate">

    <div id="search-query">
        {{ form_widget(form.query, { 'attr': {'class': 'text-input', 'placeholder': 'Search for tasks...'} }) }}        
        <input type="submit" id="search-button" value="Search"/>
    
    </div>

    


    <div id ="search-sidebar">
        <h5>Filtering options</h5>

        <h6>Categories</h6>
        {{ form_widget(form.categories) }}

        <h6>Type</h6>
        {{ form_widget(form.type) }}

        <h6>Currency</h6>
        {{ form_widget(form.currency) }}

        <h6>Time periods</h6>
        {{ form_widget(form.timePeriod) }}

        <h6>Budgets</h6>
        {{ form_widget(form.budget) }}

        <input type="submit" id="filter-button" value="Filter"/>
    </div>

    <div id="search-content">
        <h3>Search results</h3>
        {% for task in paginator %}

            <div style="width:100%">
                <h5><a href="{{ path('app_tasks_show', {'id': task.id, 'slug': task.slug }) }}">
                    {{ task.name }}</a>
                    {% if task.category %}
                        <small>{{ task.category }}</small>
                    {% endif %}
                </h5>
                <p><a href="{{ path('app_tasks_show', {'id': task.id, 'slug': task.slug }) }}">{{ task.description }}</a></p>
                
                <p><small>Posted by {{ task.userName }} on {{ task.createdAt|date }}</small></p>
                <p>Type: {{ task.type }} | Budget: {{ task.budget }}</p>
                <hr/>
            </div>
        {% else %}
            <p>No results</p>
        {% endfor %} 

        {{ knp_pagination_render(paginator) }}
    </div>

</form>    



{% endblock %}