{% extends '::base.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <div class="span12">
                <h3>{{ task.name }}</h3>
                
                <p>{{ task.description }}</p>
                
                <p><small>Posted by {{ task.userName }} on {{ task.createdAt|date }}</small></p>
                
                <p>Type: {{ task.type }}</p>
                <p>Budget: {{ task.budget }}</p>
                <!-- 
                <a href="{{ path('app_proposals_new', {'task': task.id }) }}">Make Proposal</a>
                 -->
            </div>
        </div>
        <div class="row-fluid" ng-controller="ProposalCtrl">
            <div class="span12">
                {% if is_granted('ROLE_CONTRACTOR') and not accepted %}
                <div class="row-fluid">
                    <div class="span12"> 
                        {% raw %}
                        
                        <div>
                            <div ng-repeat="(key,val) in errors" class="alert alert-error {{ key }}">
                                        {{ key }}: {{ val }}
                                        <button data-dismiss="alert" class="close" type="button">x</button>
                            </div>
                    
                        </div>
                        
                        <form id="proposal-form" class="form-horizontal" ng-submit="addProposal()">
                            <fieldset>
                                <legend>Legend</legend>
                                <div class="control-group">
                                {% endraw %}
                                    <label class="control-label" for="description">{% trans from "app" %}Description{% endtrans %}</label>
                                {% raw %}
                                    <div class="controls">
                                        <textarea id="description" placeholder="Description" ng-model="newProposal.description"></textarea>
                                    </div>
                                </div>
                                {% endraw %}
                                
                                {% if taskType == 'hourly' %}
                                    {% include "App:Proposals:new_hourly.html.twig" with { taskType: taskType } %}
                                {% endif %}
                                {% if taskType == 'fixed' %}
                                    {% include "App:Proposals:new_fixed.html.twig" with { taskType: taskType } %}
                                {% endif %}
                                
                                {% raw %}
                                <div class="control-group">
                                    <div class="controls">
                                        <input type="hidden" ng-model="newProposal.task" ng-init="newProposal.task='{% endraw %}{{ task }}{% raw %}'" />
                                        <input type="submit" class="btn" value="Make proposal" />
                                    </div>
                                </div>
                        </form>
                    </div>
                </div>
                {% endraw %}
                {% endif %}
                
                <div class="row-fluid">
                    <div ng-init='proposals={{ proposalsJson|raw }}'></div>
                    {% raw %}
                    <div class="span12">
                    {% endraw %}
                    {% if taskType == 'hourly' %}
                        {% include "App:Proposals:list_hourly.html.twig" with { task: task } %}
                    {% endif %}
                    {% if taskType == 'fixed' %}
                        {% include "App:Proposals:list_fixed.html.twig"  with { task: task } %}
                    {% endif %}                        
                    {% raw %}
                    </div>
                </div>
                {% endraw %}
                
            </div>
    
</div>
        
    </div>
</div>


   

{% endblock %}