{% raw %}
<table class="table table-striped">
    <tr>
        <th>id</th>
        <th>description</th>
        <th>hours (per week)</th>
        <th>duration (weeks)</th>
        <th>contractor rate</th>
        <th>contractor</th>
        <th>action</th>
    </tr>
    <tr ng-repeat="proposal in proposals">
        <td>{{ proposal.id }}</td>
        <td>{{ proposal.description }}</td>
        <td>{{ proposal.hours }}</td>
        <td>{{ proposal.duration }}</td>
        <td>{{ proposal.contractorRate }}</td>
        <td>{{ proposal.username }}</td>
        <td><a ng-click="acceptProposal(proposal.taskId, proposal.id)" class="btn btn-success" >accept</a></td>
    </tr>
</table>
{% endraw %}